/* Reset Browser Defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container-2-columns {
  border: 5px solid blue;
  margin: 10px;
  display: grid;
  grid-template-columns: 100px 200px;
}

.grid-container-3-columns {
  border: 5px solid blue;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.box {
  padding: 1rem;
  background: grey;
  border: 2px solid red;
}