div {
  width: 200px;
  height: 100px;
  margin: 20px;
}

#two-rgba-colors {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
}

#three-colors-to-top {
  background: linear-gradient(to top, blue, green, yellow);
}

#five-colors-to-left {
  background: linear-gradient(to left, blue, green, yellow, red, orange);
}

#five-colors-degrees {
  background: linear-gradient(310deg, blue, green, yellow, red, orange);
}

#percent-colors {
  background: linear-gradient(blue 10%, green 70%);
}